*{
  color: #B2B1AD;
}
body {
  background: url('../img/azul.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}























